// Mixins Here

.navColor() {
    background-color: @nav-bg;
    border-bottom: 1px double @sea-shell;
    font-family: @river-bend;
}

.customButtom(@width, @height) {
    width: @width;
    height: @height;
    padding: 10px 20px ;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: @btn-bg-color;
    cursor: pointer;
}

.customHoverBtn {
    color: @btn-bg-color;
    background-color: white;
    border: solid @btn-bg-color 1px;
}

.customLayout(@display, @justify-content, @align-items) {
    display: flex;
    flex-direction: @display;
    justify-content: @justify-contents;
    align-items: @align-items;
}

.customFont(@color, @size) {
    color: @color;
    font-size: @size;
    text-decoration: none;
}

.verticalPadding() {
    padding: 10px 0px;
}